<html lang="en">
  <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv= "x-ua-compatinle" content="ie=edge">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap" rel="stylesheet">
    <title>Inicio de sesion</title>
  </head>

  <body>
  <div class="app-container">
    <form class="form-login">
     <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo" aria-label="Correo">
     <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña" aria-label="Contraseña">
     <div class="botonL">
       <button class="login-button" aria-label="Iniciar sesion">Iniciar sesion</button>
     </div>
      <p><a href="#">¿Quieres registarte?</a></p>
    </form>
   </div>
  </body>
  </html>
